body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: 1px solid black;;
  resize: none;
  color: #000000;
  
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: left;
  
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  text-align: center;
  padding-top: 10px;
  
}

.past {
  background-color: #dfd9d9;
  color: white;
  border-radius: 15px;
}

.present {
  background-color: #ff8a84;
  color: white;
  border-radius: 15px;
}

.future {
  background-color: #a0fda0;
  color: white;
  border-radius: 15px;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.btn {
 background-color: rgb(189, 11, 11);
}